---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Layout from '@/components/Layout.astro'
import { SimpleLayout } from '@/components/SimpleLayout'
import { BlogPosts } from '@/components/BlogPosts'
---

<BaseLayout 
  title="Blog"
  description="Notes from the mountaintop: Musings on Linux, open source, and tech adventures from the foggy peaks of Appalachia."
>
  <Layout>
    <SimpleLayout
      title="Blog"
      intro="Welcome to my digital journal where I document my adventures through Linux landscapes, open source communities, and tech explorations. Grab a virtual cup of coffee and join me around the campfire as we talk code, design, and life in the mountains."
      client:load
    >
      <div id="blog-posts-container">
        <BlogPosts client:load />
      </div>
    </SimpleLayout>
  </Layout>
</BaseLayout> 